* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}


body {
  background-image: url('../image/PETA.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* position: relative; */
  /* padding-top: 80px; */
  color: white;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
  /* margin: 0; */
}



body::before {
  content: "";
  /* ini jier yang ngebuat setengah gelap layar bangkep */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: -1;
}


/* ini bagian navbar gw aja yaa lu fokus ke chard aja */
.latar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.807), rgba(0, 0, 0, 0.7));
  z-index: -1;
}



.isi {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 0px;
}


/* navbar */
header {
  /* ini cui kampret bet gw cariin bagian navbar item ireng  */
  background-color: rgba(0, 0, 0, 0.807);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  top: 0;
}



.atas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}



/* ini bagian layar dekstopnya cuiii yahah puyeng ah */
.menu {
  display: flex;
  list-style: none;
}



.menu li {
  margin-left: 30px;
}



.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  padding: 8px 16px;
  border-radius: 5px;
}



.menu a:hover {
  color: #ccc;
  background: rgba(255, 255, 255, 0.1);
}



/* ini bagian navbar gw aja yaa lu fokus ke chard aja */
/* sekarang mobile menu nya cui yahaha  */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}



.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 3px 0;
  transition: 0.3s;
}

/* fixing ahh */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .menu {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(20px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    transition: left 0.3s ease;
  }


  .menu.active {
    left: 0;
  }



  .menu li {
    margin: 15px 0;
  }



  .menu a {
    font-size: 18px;
    padding: 12px 30px;
  }



  .logo {
    font-size: 20px;
  }


  .header-nav {
    padding: 12px 0;
  }
}



header {
  padding: 12px 0;
}



@media (max-width: 480px) {
  .isi {
    padding: 0 15px;
  }
  .logo {
    font-size: 18px;
  }
}

/* sekarang mobile menu nya cui yahaha  */

