* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}



.container {
  width: 80%;
  margin-inline: auto;
  /* color: #ffffff; */
}
@media (max-width: 992px){
  .container{
    width: 90%;
  }
}




/* navbar nya cuii */
.navbar {
  padding: 30px 0;

}



.navbar-box{
  display: flex;
  justify-content: center;
  /* elemen yang ada di navbar box akan ketengah*/

}



.navbar-box .menu{
  display: flex;
  align-items: center;
  gap: 45px;
  /* gap ini fungsinya untuk jarak navbar  */

}


.navbar-box .menu li {
  list-style: none;
}



/* berikan style elemen a */
.navbar-box .menu li a {
  text-decoration: none;
/* hilangkan garis line bawah navbar  */

  color: black;
}



/* hero */
.hero {
  margin-block: 70px;

}


.hero-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 70px;
}



.hero-box img {
  width: 300px;
}



.hero-box h1 {
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.3;

}



.hero-box h1 span {
  font-weight: bold;
  color: #00cba9;
}



@media (max-width: 768px) {
  .hero-box h1 {
    font-size: 45px;
  }
}



@media (max-width: 475px) {
  .hero-box h1 {
    font-size: 40px;
  }
}
/* hero */



header svg {
  margin-bottom: -10px;
}


/* tentang  */
.tentang {
  background-color: #00cba9;
  padding-block: 50px;
  color: white;
}



.tentang .container > h1 {
  /* berikan style h1 di container saja  simbol lebih */ 
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}



.tentang-box .box:nth-child(1) {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-bottom: 150px;
align-items: center;
gap: 50px;
}



.tentang-box .box:nth-child(1) img {
  width: 300px;
  padding: 10px 10px 0 10px;
  background-color: #ff0606;
  border: 1px solid white;
  border-radius: 10px;
  margin-inline: auto;
}




.tentang-box .box:nth-child(1) p {
  line-height: 2;
  text-align: justify;
  margin-bottom: 30px;
}




.tentang-box .box:nth-child(1) p span {
  font-weight: bold;
}



.tentang-box .box:nth-child(1) a {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}



.tentang-box .box:nth-child(1) a:hover {
  background-color:white;
  color: #030303;
  font-weight: bold;
}



.tentang-box .tools .tools-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}



.tentang-box .tools .tools-box:hover {
  background-color: white;
  color: black;
}


.tentang-box .tools .tools-box img {
  width: 50px;
  background-color: white;
  border-radius: 5px;
}



@media (max-width: 992px) {
  .tentang-box .box:nth-child(1) {
    grid-template-columns: 1fr;
    }


    .tentang-box .box:nth-child(1) div {
      text-align: center;
    }
}
/* tentang  */
