* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}



.container {
  width: 80%;
  margin-inline: auto;
  background-color: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 992px){
  .container{
    width: 90%;
  }
}




/* navbar nya cuii */
.navbar {
  padding: 30px 0;

}



.navbar-box{
  display: flex;
  justify-content: center;
  /* elemen yang ada di navbar box akan ketengah*/

}



.navbar-box .menu{
  display: flex;
  align-items: center;
  gap: 45px;
  /* gap ini fungsinya untuk jarak navbar  */

}


.navbar-box .menu li {
  list-style: none;
}



/* berikan style elemen a */
.navbar-box .menu li a {
  text-decoration: none;
/* hilangkan garis line bawah navbar  */

  color: black;
}



/* hero */
.hero {
  margin-block: 70px;

}


.hero-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 70px;
}



.hero-box img {
  width: 300px;
}
/* hero */


